<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %} {{ title }} {% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'quanlitaisan/css/root.css' %}">
  {% block extra_css %}
  {% endblock %}
  <link rel="shortcut icon" type="image/ico" href="{% static 'quanlitaisan/images/hust_logo.ico' %}">
</head>

<body>
  <div class="wrapper">
      <header class="page-header">
          <h1> <a href="/">Quản lý tài sản</a> </h1>
        </header>
        <nav>
            <a href="/">Trang chủ</a>
            <a href="/search">Tìm kiếm</a>
            <a href="/assets/1">Danh sách tài sản</a>
            <a href="/addItem">Thêm tài sản</a>
            <a href="/addMaintain">Thêm bảo trì</a>
        </nav>
      <section class="page-body">
          {% block content %}
    
          {% endblock content %}
      </section>
      
      <footer class="page-footer">
          Design by Manh Nguyen
      </footer>
  </div>
</body>
</html>