{% extends "quanlitaisan/base.html" %}
{% block extra_css %}
<style>
  table{
    margin: 20px 20px;
  }
  table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td{
    padding: 10px;
  }
</style>
{% endblock %}
{% block content %}
  <form action="">
  <table>
    <tr>
      <th>STT</th>
      <th class="asset_id">Mã tài sản</th>
      <th>Loại tài sản</th>
      <th>Tên tài sản</th>
      <th>Hiện trạng theo dõi</th>
      <th>Hiện trạng kiểm kê</th>
    </tr>
      <tr class="data">
        <td class="no">1</td>
        <td class="id"><input type="text"></td>  
        <td class="type">Auto</td>  
        <td class="name">Auto</td>  
        <td class="state">Auto</td>  
        <td class="update">Auto</td>  
      </tr>
  </table>
  <input type="submit" value="update">
</form>
<button id="add_line">Thêm dòng</button><br>

<script>
  let no = 1;
  
  let getData = async function(e){
    let id = e.target.value;
    let url = '/api/' + id;
    let response = await fetch('/api/' + id);
    let json_res = await response.json();
    
    let thisRow = e.target.parentNode.parentNode;
    let nameData = thisRow.querySelector('.name');
    let typeData = thisRow.querySelector('.type');
    let stateData = thisRow.querySelector('.state');
    let compound = [nameData, typeData, stateData];
    if (json_res){
      nameData.textContent = json_res.ten_tai_san
      typeData.textContent = json_res.loai_tai_san
      stateData.textContent = json_res.hien_trang
    } else {
      for (let data of compound){
        data.textContent = 'Không tìm thấy';
      }
    }

  }
  
  let addButton = document.querySelector("#add_line");
  addButton.addEventListener('click', (e)=>{
    let clone = document.querySelector(".data").cloneNode(true);
    clone.querySelector('.no').textContent = String(++no);
    clone.querySelector('.id input').value = '';
    clone.addEventListener('input', getData);
    document.querySelector('tbody').append(clone);
  });

  let rows = document.querySelector('table');
  rows.addEventListener('input', getData);
  
</script>
{% endblock %}