{% extends 'quanlitaisan/base.html' %}
{% block extra_script %}
    {% load static %}   
    <script defer src="{% static 'quanlitaisan/scripts/nhap.js' %}"></script> 
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'quanlitaisan/css/nhaphang.css' %}">
{% endblock %}
{% block content %}
    <div id="input_view">
        <form action="/kiemke" method="post">
            {% csrf_token %}
            <table>
          <tr>
              <th>STT</th>
              <th class="asset_id">Mã tài sản</th>
            <th>Loại tài sản</th>
            <th>Tên tài sản</th>
            <th>Hiện trạng theo dõi</th>
            <th>Hiện trạng kiểm kê</th>
            <th>Số lượng nhập</th>
        </tr>
        <tr class="data" id ='temp'>
            <td class="no">1</td>
            <td class="id"></td>  
            <td class="type"></td>  
            <td class="name">Auto fill</td>  
            <td class="state">Auto fill</td>
            <td class="unit"></td>  
            <td class="quantity"><input type="number" min="0"></td>
        </tr>
            </table>
            <input type="submit" value="update">
        </form>
        <div>
            <p>Thêm dòng</p>
            <button id="add_line">Thêm</button><br>
            <p></p>
        </div>
    </div>
    <div id='search_view' class = 'hidden'>
        <h2>Tìm kiếm tài sản</h2>
        <input type="text" name="" id="search_word">
        <button id="search_but">Search</button>
    </div>
    
    <div id="select_view" class="hidden">
        <h2>Chọn tài sản</h2>
        <table id='select_table'>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Tên</th>
                <th>Đơn vị</th>
                <th>Số lượng</th>
                <th>Chọn</th>
            </tr>
            <tr class="hidden" id="s_temp">
                <td class="no"></td>
                <td class='s_id'></td>
                <td class='s_name'><span></span></td>
                <td class='s_dv'></td>
                <td class='s_sl'></td>
                <td class='choose'><button>Chọn</button></td>
            </tr>
        </table>
        <button id="select_back">Back</button>
    </div>

{% endblock %}