#detail_table {
  width: 40%;
  /* border: 1px solid black; */
  border-collapse: collapse;  
}

tr, td {
  height: 35px;
  border-bottom: 1px solid black;
}

#button_contain button{
  margin: 60px 15px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

#edit{
  background-color: #1B8244;
}

#delete{
  background-color: #D12E2E;
}

.ud {
  margin: 18px
}
