body {
  background-color: #F1EFE2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0px;

}

.wrapper {
  min-height: 100vh ;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  flex-shrink: 0;
}

.page-footer{
  background-color: #484444;
  height: 40px;
  color: whitesmoke;
  font-size: .75rem;

  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}



.page-body {
  flex-grow: 1;
}

header {
  /* background: url(../images/workspace3.jpg);
  background-size:  cover;
  background-repeat: no-repeat; */
  height: 120px;
  color: whitesmoke;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.8em;
}

header img {
  margin: 0 15px;
  width: 100px;
  height: 100px;
}

header a {
  display: block;
  font-size: 1em;
  margin: 30px;
  text-transform: uppercase;
  
}


header a {
  text-decoration: none;
  color: maroon;
  font-weight: bold;  
}

header a p {
  margin: 0px 0px 25px 0px;
  font-size: 1.2rem;
  color: darkgreen;
}

nav {
  background-color:brown;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-transform: uppercase;
  color: white;
  padding: 10px;
}

nav a {
  /* display: block; */
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 0.9rem;
  font-weight: bold;
}

section {
  margin: 0 30px;
}

#save_respone{
  position: relative;
  top: 25%;
  left: 20%;
}

#links{
  display: block;
  padding: 20px;
}

#child_list {
  height: 160px;
  overflow-y: scroll;
  text-align: left;
}

#child_list li{
  list-style-type: none;
  /* text-align: left; */
}

form{
  display: block;
  width: 800px;
}

form p label{
  display: inline-block;
  width: 150px;
}

label{
  vertical-align: top;
}

.recent {
  border-collapse: collapse;
  width: 50%;
  margin: 30px 10px;
}
  
.recent th, .recent tr, .recent td{
  border: 1px solid black;
  padding: 10px;
}

.pagination{
  width: 90%;
  margin: 15px auto;
  padding: 15px;
  text-align: center;
}

.pagination span {
  margin: 10px;
  text-decoration: none;
  font-size: 1.2em;
}

.pagination a{
  text-decoration: none;
  margin: 0px 5px;

}